doctype html

html(lang="en")
  include include/head.pug

  body
    #popup

    include include/header.pug

    main
      #dashboard
        #chartBox-1.stats.box
          canvas#chart1
        #chartBox-2.stats.box
          canvas#chart2

        #feed
          .wrapper
            ul.list
              each event in data.stats.feed.list
                li(id= event.uuid class= event.type)
                  .head
                    .type= event.type
                    time.date(datetime= event.date) ---
                  .body
                    a(href= "https://twitch.tv/" + event.name target="_blank" rel="noopener")= event.display_name || event.name
                    if event.type == 'follow'
                      span &nbsp;is now following you
                    if event.type == 'subscription'
                      if event.resubs > 0
                        span &nbsp;has re-subscribed (#{event.resubs}x) you
                      else
                        span &nbsp;has subscribed you
                    if event.type == 'host'
                      span &nbsp;host you with&nbsp;
                        span.viewers= event.viewers
                        span &nbsp;viewers
                    if event.type == 'donation'
                      span &nbsp;has <span class="amount">#{event.amount}</span> #{event.currency} donated
                        .message= event.message
          nav
            ul
              li
                #feed-all.feed-btn.selected(title="Show all types") All
              li
                #feed-follows.feed-btn(title="Show follows") F
              li
                #feed-subscriptions.feed-btn(title="Show subscriptions") S
              li
                #feed-donations.feed-btn(title="Show donations") D
              li
                #feed-hosts.feed-btn(title="Show hosts") H

    include include/footer.pug
