footer
  p
    strong BNS
    | &nbsp;v#{data.version} 
    | coded by&nbsp;
    a(href="https://github.com/Morphy2k" target="_blank" rel="noopener") Morphy
  p
    a(href="https://github.com/Morphy2k/broadcast-notification-system" target="_blank" rel="noopener") GitHub

script.
  window.page = '#{pageTitle}'.toLowerCase();
    
  window.version = '#{data.version}';
  window.dashboard = {
      popups: #{data.settings.dashboard.popups}
    };

if pageTitle == 'Settings'
  script.
    // api
    window.api = {
      twitch: {
        enabled: #{data.settings.api.twitch.enabled}
      },
      youtube: {
        enabled: #{data.settings.api.youtube.enabled}
      },
      streamlabs: {
        enabled: #{data.settings.api.streamlabs.enabled}
      }
    };
    // notifications
    window.notification = {
      enabled: #{data.settings.notification.enabled},
      duration: #{data.settings.notification.duration},
      types: {
        follows: #{data.settings.notification.types.follows},
        subscriptions: #{data.settings.notification.types.subscriptions},
        hosts: #{data.settings.notification.types.hosts},
        donations: #{data.settings.notification.types.donations}
      }
    };

if pageTitle == 'Dashboard'
  script.
    // charts
    window.stats = {
      charts: {
        follows: [#{data.stats.charts.follows}],
        subscriptions: [#{data.stats.charts.subscriptions}],
        donations: {
          count: [#{data.stats.charts.donations.count}],
          amount: [#{data.stats.charts.donations.amount}]
        }
      }
    };
  script(src='ressources/js/charts.bundle.js?v=' + data.version)

script(src='ressources/js/main.bundle.js?v=' + data.version)
